.image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    font-size: 70px;
    display: flex;
}

h2 {
    margin-top: 120px;
    padding: 0px 200px;
}
p {
    margin-left: 200px;
    padding-top: 50px;
    font-size: 26px;
    width: 50%;    /* ширина */
}


h3 {
    margin-top: -100px;
    margin-right: 350px;
    float: right; /* плавающие блоки */
    width: 300px;   /* ширина */
    height: auto;  /* высота */
    box-sizing: border-box;
    display: flex;
}
